/*
Font Light: #f5f5f5
Font Dark: #404040
Everybodies favourite brown #C06832
Orange: #FF8B00
Jazz Purple: #703D57
Timetable Orange: #FE8115
Timetable Yellow: #FFCF08
Border: #707070
*/

/* Generic CSS */
body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #f5f5f5;
  color: #404040;
}

p {
  font-size: 12pt;
  background-color: #fff;
}

nav {
  height: 10vh;
  /* width: 100vw; */
  margin: 0;
  padding: 0;
  background-color: #fff;
  /* border-bottom: solid black 2px; */
  /* position: fixed; */
  /* z-index: 9999; */
}

nav ul {
  display: grid;
  /* grid-template: "img home jazz history dance cart login"; */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: auto;
  padding: 1em;
  text-align: center;
  min-width: 100%;
}

nav li a {
  text-decoration: none;
  color: #c06832;
  font-weight: 700;
  text-align: center;
}

nav li a:hover {
  text-decoration: none;
  color: #ff8b00;
}

main {
  min-height: 100%;
  background-color: #eee;
}

footer {
  background-color: #fff;
  border: solid #c06832 4px;
  padding: 1em;
  margin: none;
  text-align: center;
  height: 10vh;
}

.card {
  background: #fff;
  padding: 2em;
  margin: auto;
  border: solid 2px #707070;
  border-radius: 0px;
}

.bi-basket3-fill {
  font-size: 2em;
}

a.button {
  appearance: button;
  text-decoration: none;
  color: initial;
  text-align: center;
}

a.button.transparent {
  background-color: rgba(152, 152, 152, 0.6);
  background-repeat: no-repeat;
  color: #fff;
  border: 2px solid white;
  padding: 1em;
}

a.button.transparent:hover {
  background-color: rgba(152, 152, 152, 0.75);
  background-repeat: no-repeat;
  color: #fff;
  outline: none;
}

a.button.transparent:active {
  background-color: rgba(255, 255, 255, 0.75);
  /* filter: blur(8px); Doesn't really work but looks cool and could be useful*/
  background-repeat: no-repeat;
  color: #000;
  outline: none;
}

.btn-login {
  text-decoration: none;
  background-color: #fff;
  padding: 5% 25%;
  margin: 0;
  border: 2px solid #c06832;
  color: #c06832;
  font-weight: 700;
}

.btn-login:hover a {
  background-color: #eee;
  text-decoration: none;
}

.btn-login:active {
  background-color: #c06832;
  text-decoration: none;
  color: #fff;
}

/* Home CSS */

#home {
  min-height: 180vh;
}

.title-screen {
  min-height: 90vh;
  background-image: url("../img/jazz_home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#home-info {
  margin: 0 5vw 0 5vw;
  background-color: #fff;
  border: 4px solid #c06832;
  width: 90vw;
  padding: 1em;
  display: grid;
  grid-template-areas: "header image" "paragraph image";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 3fr 1fr;
}

#home-info-page > h2 {
  text-align: center;
  margin: 0.5em;
}

#home-title {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 2em;
}

#home-title * {
  padding: 1em 0 0 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

#about-us-home {
  margin: auto;
  grid-area: paragraph;
}

#about-us-home > p {
  margin: 2em;
}

#events-image {
  grid-area: image;
}

#events-image > img {
  display: block;
  text-align: right;
  padding: 0.5em;
}

#home-info-page {
  height: 90vh;
}

#section-landing {
  background: url("../img/concert.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* Login CSS */

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
}


.top-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav li{
    display: inline-block;
    margin-left: 28px;
}

.top-nav li a{
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav li a:hover {
    background-color: cyan;
}

#section-landing{
    background: url('../img/concert.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



.nav-bar {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px #1a1a1a;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
}


.top-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav li{
    display: inline-block;
    margin-left: 28px;
}

.top-nav li a{
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav li a:hover {
    background-color: cyan;
}

#section-landing{
    background: url('../img/concert.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



.nav-bar {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px #1a1a1a;
}

.login-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 20%;
}

.wrapper-login {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.wrapper-login input {
  width: 200px;
  height: 26px;
  border: 1px solid #cccccc;
  background-color: #f5f5f5;
  font-size: 18px;
  display: block;
  position: relative;
  margin: 20px auto;
}

input::placeholder {
  color: #a1a1a1;
  font-size: 14px;
}

.wrapper-login h2 {
  font-size: 40px;
  text-transform: uppercase;
}

#submit {
  width: 200px;
  height: 42px;
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  margin: 20px 0px 0px 0px;
}

#submit:hover {
  border: 1px solid #a1a1a1;
  background-color: #a1a1a1;
  transition: 0.15s ease-in;
}

.options a {
  color: #006400;
}

.options a:hover {
  color: #000000;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.invalidFeedback {
  color: #ff0000;
}

/* Jazz CSS */

#jazz-info-page {
  height: 100vh;
  width: 80vw;
  margin: auto;
  background: orange;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "info artists";
}

#jazz-info {
  grid-area: info;
  padding: 1em;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas:
    "
    text jtext jtext jtext"
    "ptext ptext ptext ptext patronaat"
    "gm gmtext gmtext gmtext gmtext"
    "button button button button button";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 0px;
  column-gap: 1em;
  min-width: 0;
  min-height: 0;
}

#jazz-artists {
  grid-area: artists;
    color: #ff0000;
}

#jazz-timetable-page {
  height: 90vh;
  width: 100vw;
  background-color: green;
  display: inline-block;
}

#jazz-timetable {
  height: 90%;
  width: 80%;
  margin: 2% 9% 2% 9%;
  padding: 2em;
}

#jazz-info > img {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
  border: 2px solid #454545;
}

#jazz-in-haarlem {
  grid-area: jtext;
}
#jazz-in-haarlem-image {
  grid-area: jazz;
}
#grote-markt {
  grid-area: gmtext;
}
#grote-markt-image {
  grid-area: gm;
}
#patronaat {
  grid-area: ptext;
}
#patronaat-image {
  grid-area: patronaat;
}

#jazz-info.button.transparent {
  grid-area: button;
}

#history-main{
    max-width: 100%;
}
.main-history-container{
    background-image: url('../img/history.jpg');
    background-position: center;
    height: 100%;
    width: 100%;

}
.intro-history-container{
    text-align: center;
    padding: 70px;
    width: 75%;
    height: 75%;
    margin: auto;

}
.intro-history-container h1{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}
.intro-history-container p{
    color: white;
    font-size: 30px;
    padding: 30px;
    background-color: transparent;
}

#history-show-more{
    width: 150px;
    height: 58px;
    font-size: 20px;
    background: #989898;
    border: none;
    border:solid 1.5px white;
    opacity: 75%;
    text-transform: uppercase;
}
#history-show-more:hover{
    opacity: 90%;
}
.detail-history-container{
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: #F5F5F5;
}
#history-detail-h{
    font-size: 35px;
    text-align: center;
    padding:20px;
    text-transform: uppercase;
    color: #BF6832;
}
.tour-history-container{
    background-color: white;
    height: 70%;
    width: 75%;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #814663;
}
#tour-title{
    text-transform: uppercase;
    color: #814663;
    font-size: 40px;
}
.tour-text-cont{
    float: left;
    padding: 20px;
    width:60%;
    color: #814663;
    font-size: 20px;
}
#history_order_btn{
    width: 250px;
    height: 30px;
    font-size: 15px;
    background: white;
    color: #C06832;
    border: none;
    border:solid 2px #FFA810;
    text-transform: uppercase;
    

}

.history-map-aside{
    float: right;
    position: relative;
    text-align: center;

}
#show_map_img{
    float: right;
    border:1px solid darkblue;
    position: relative;
    width: 60%;
    margin: 20px;

}
#history-quote{

    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
}
#map_popup_btn{
    width: 250px;
    height: 30px;
    font-size: 15px;
    background: white;
    color: #C06832;
    border: none;
    border:solid 2px #FFA810;
    text-transform: uppercase;

    float: right;
    margin: 20px;
}
#map_popup_btn:hover{

}

.history_map_modal{
    display: none;
    position: fixed;
    border:solid 2px #BF6832;
 }

.tickets-history-container{
    background-color: white;
}
.history-calendar-container{

}

.history-calendar-container table{
    background-color: white;
    width: 100%;
    height: 80%;
    align-content: center;
    overflow: auto;

}
.history-calendar-container tr,th{
    border: 2px solid #BF6832 ;
    padding: 0px;
    text-align: center;
}
.history-calendar-container th {
    background-color: #BF6832;
    color: white;
}
.history-calendar-container tr:nth-child(even) {
    background-color: #BF6832;
}
.history-calendar-container tr:nth-child(odd) {
    background-color: #FFBE85;
}
.history-tickets-modal{
    display: none;
}




