/*
Font Light: #f5f5f5
Font Dark: #404040
Everybodies favourite brown #C06832
Orange: #FF8B00
Jazz Purple: #703D57
Timetable Orange: #FE8115
Timetable Yellow: #FFCF08
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #f5f5f5;
  color: #404040;
}

nav {
  height: 80px;
  margin: 0;
  padding: 0;
  border-bottom: solid black 2px;
}

nav ul {
  display: grid;
  display: grid;
  /* grid-template: "img home jazz history dance cart login"; */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: auto;
  padding: 1em;
  text-align: center;
  min-width: 100%;
}

.bi-basket3-fill {
  font-size: 2em;
}

nav li a {
  text-decoration: none;
  color: #c06832;
  font-weight: 700;
  text-align: center;
}

nav li a:hover {
  text-decoration: none;
  color: #ff8b00;
}

main {
  min-height: 100%;
  background-color: #eee;
}

footer {
  background-color: #fff;
  border: solid #c06832 4px;
  padding: 1em;
  margin: none;
  text-align: center;
  margin-top: 1em;
}

p {
  background-color: #fff;
}

#home-title-screen {
  background-image: url("../img/jazz_home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 875px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#home-title {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 2em;
}
#home-title * {
  padding: 1em 0 0 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

button.transparent {
  background-color: rgba(152, 152, 152, 0.6);
  background-repeat: no-repeat;
  color: #fff;
  border: 2px solid white;
  padding: 1em;
}
button.transparent:hover {
  background-color: rgba(152, 152, 152, 0.75);
  background-repeat: no-repeat;
  color: #fff;
  outline: none;
}

button.transparent:active {
  background-color: rgba(255, 255, 255, 0.75);
  /* filter: blur(8px); Doesn't really work but looks cool and could be useful*/
  background-repeat: no-repeat;
  color: #000;
  outline: none;
}

#home-info {
  background-color: #fff;
  border: 4px solid #c06832;
  padding: 2em;
}

.btn-login {
  text-decoration: none;
  background-color: #fff;
  padding: 0.8em 3em; /* Needs to be done in a better way*/
  margin: 0;
  border: 2px solid #c06832;
  color: #c06832;
  font-weight: 700;
}

.btn-login:hover a {
  background-color: #eee;
  text-decoration: none;
}
.btn-login:active {
  background-color: #c06832;
  text-decoration: none;
  color: #fff;
}
/*css here*/


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
}


.top-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav li{
    display: inline-block;
    margin-left: 28px;
}

.top-nav li a{
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav li a:hover {
    background-color: cyan;
}

#section-landing{
    background: url('../img/concert.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



.nav-bar {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px #1a1a1a;
}

.login-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.wrapper-login{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login input {
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px auto;
}

input::placeholder {
    color: #a1a1a1;
    font-size: 14px;
}

.wrapper-login h2 {
    font-size: 40px;
    text-transform: uppercase;
}

#submit {
    width: 200px;
    height: 42px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
    transition: 0.15s ease-in;
}

.options a {
    color: #006400;
}

.options a:hover {
    color: #000000;
    transition: 0.20s ease-in;
    text-decoration: none;
}

.invalidFeedback {
    color: #ff0000;
}
