/*css here*/


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
}


.top-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav li{
    display: inline-block;
    margin-left: 28px;
}

.top-nav li a{
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav li a:hover {
    background-color: cyan;
}

#section-landing{
    background: url('../img/concert.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}



.nav-bar {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    box-shadow: 0px 0px 10px #1a1a1a;
}

.login-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.wrapper-login{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login input {
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px auto;
}

input::placeholder {
    color: #a1a1a1;
    font-size: 14px;
}

.wrapper-login h2 {
    font-size: 40px;
    text-transform: uppercase;
}

#submit {
    width: 200px;
    height: 42px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
    transition: 0.15s ease-in;
}

.options a {
    color: #006400;
}

.options a:hover {
    color: #000000;
    transition: 0.20s ease-in;
    text-decoration: none;
}

.invalidFeedback {
    color: #ff0000;
}


.main-history-container{
    background-image: url('../img/history.jpg');
    background-position: center;
    height: 100%;
    width: 100%;

}
.intro-history-container{
    text-align: center;
    color: white;
    padding: 70px;
    width: 75%;
    height: 75%;
    margin: auto;

}
#history-intro-h{
    font-size: 40px;
    text-transform: uppercase;

 }
#history-intro{
    font-family: "Helvetica Neue";
    padding: 50px;
    font-size: 30px;
}
#history-show-more{
    width: 150px;
    height: 58px;
    font-size: 20px;
    background: #989898;
    color: white;
    border: none;
    border:solid 1.5px white;
    opacity: 75%;
    text-transform: uppercase;
}
#history-show-more:hover{
    opacity: 90%;
}
.detail-history-container{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}
#history-detail-h{
    font-size: 35px;
    text-align: center;
    padding:20px;
    text-transform: uppercase;
    color: #BF6832;
}
.tour-history-container{
    background-color: white;
    height: 70%;
    width: 75%;
    padding: 25px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #814663;
}
#tour-title{
    text-transform: uppercase;
    color: #814663;
    font-size: 40px;
}
.tour-text-cont{
    float: left;
    width:60%;
    color: #814663;
    font-size: 20px;
}
#history-map-aside{
    float: right;
    right: 20px;
}



