
	.mediaViewInfo {
		--web-view-name: Haarlem Festival - Dance Event;
		--web-view-id: Haarlem_Festival_-_Dance_Event;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Haarlem_Festival_-_Dance_Event;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Haarlem_Festival_-_Dance_Event {
		position: absolute;
		width: 1920px;
		height: 3240px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Haarlem Festival - Dance Event;
		--web-view-id: Haarlem_Festival_-_Dance_Event;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#Image_40 {
		filter: blur(0px);
		position: absolute;
		width: 1928px;
		height: 1084px;
		left: -8px;
		top: -2px;
		overflow: visible;
	}
	#Rectangle_266 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_266 {
		position: absolute;
		overflow: visible;
		width: 2034px;
		height: 1048px;
		left: -78px;
		top: 1188px;
	}
	#Group_272 {
		position: absolute;
		width: 1226px;
		height: 919px;
		left: 140px;
		top: 1323px;
		overflow: visible;
	}
	#Rectangle_259 {
		fill: rgba(246,246,246,1);
		stroke: rgba(178,4,255,1);
		stroke-width: 4px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_259 {
		position: absolute;
		overflow: visible;
		width: 1226px;
		height: 919px;
		left: 0px;
		top: 0px;
	}
	#Dance_in_Haarlem {
		left: 411px;
		top: 27px;
		position: absolute;
		overflow: visible;
		width: 315px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Image_32 {
		position: absolute;
		width: 373px;
		height: 210px;
		left: 25px;
		top: 27px;
		overflow: visible;
	}
	#Image_33 {
		position: absolute;
		width: 376.813px;
		height: 234px;
		left: 828.188px;
		top: 292px;
		overflow: visible;
	}
	#Caprera_Openluchttheather {
		left: 327px;
		top: 292px;
		position: absolute;
		overflow: visible;
		width: 484px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#XO_the_Club {
		left: 417px;
		top: 590px;
		position: absolute;
		overflow: visible;
		width: 210px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Image_34 {
		position: absolute;
		width: 371px;
		height: 214px;
		left: 26px;
		top: 582px;
		overflow: visible;
	}
	#Haarlem_is_no_stranger_to_danc {
		left: 411px;
		top: 94px;
		position: absolute;
		overflow: visible;
		width: 622px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Caprera_openluchttheather_pron {
		left: 144px;
		top: 359px;
		position: absolute;
		overflow: visible;
		width: 667px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#The_second_most_popular_club_i {
		left: 417px;
		top: 657px;
		position: absolute;
		overflow: visible;
		width: 678px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Button {
		position: absolute;
		width: 180px;
		height: 50px;
		left: 663px;
		top: 2142px;
		overflow: visible;
	}
	#Rectangle_13 {
		fill: rgba(255,255,255,1);
		stroke: rgba(192,104,50,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_13 {
		position: absolute;
		overflow: visible;
		width: 180px;
		height: 50px;
		left: 0px;
		top: 0px;
	}
	#See_whats_on {
		left: 27.988px;
		top: 15.12px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(192,104,50,1);
		letter-spacing: -0.05px;
	}
	#Rectangle_265 {
		filter: blur(0px);
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_265 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 319px;
		left: 0px;
		top: 761px;
	}
	#Haarlem_Dance {
		left: 764px;
		top: 780px;
		position: absolute;
		overflow: visible;
		width: 393px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#The_festival_bringing_you_to_t {
		left: 285px;
		top: 865px;
		position: absolute;
		overflow: visible;
		width: 1352px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#Button_Transparent {
		position: absolute;
		width: 161px;
		height: 42px;
		left: 880px;
		top: 1013px;
		overflow: visible;
	}
	#Rectangle_13_df {
		opacity: 0.66;
		fill: rgba(152,152,152,0.749);
		stroke: rgba(255,255,255,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_13_df {
		position: absolute;
		overflow: visible;
		width: 161px;
		height: 42px;
		left: 0px;
		top: 0px;
	}
	#Show_more {
		left: 27px;
		top: 12px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.05px;
		text-transform: uppercase;
	}
	#Group_273 {
		position: absolute;
		width: 398px;
		height: 158px;
		left: 1382px;
		top: 1323px;
		overflow: visible;
	}
	#Rectangle_260 {
		fill: rgba(255,255,255,1);
		stroke: rgba(254,129,21,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_260 {
		position: absolute;
		overflow: visible;
		width: 398px;
		height: 158px;
		left: 0px;
		top: 0px;
	}
	#Mask_Group_7 {
		position: absolute;
		width: 158px;
		height: 165px;
		left: 1394px;
		top: 1586px;
		overflow: visible;
	}
	#Group_270 {
		position: absolute;
		width: 398px;
		height: 150px;
		left: 1382px;
		top: 1580px;
		overflow: visible;
	}
	#Rectangle_261 {
		fill: rgba(255,255,255,1);
		stroke: rgba(254,129,21,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_261 {
		position: absolute;
		overflow: visible;
		width: 398px;
		height: 150px;
		left: 0px;
		top: 0px;
	}
	#Image_35 {
		position: absolute;
		width: 138px;
		height: 138px;
		left: 9px;
		top: 6px;
		overflow: visible;
	}
	#Group_270_dn {
		position: absolute;
		width: 398px;
		height: 150px;
		left: 1382px;
		top: 1746px;
		overflow: visible;
	}
	#Rectangle_261_do {
		fill: rgba(255,255,255,1);
		stroke: rgba(254,129,21,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_261_do {
		position: absolute;
		overflow: visible;
		width: 398px;
		height: 150px;
		left: 0px;
		top: 0px;
	}
	#Group_270_dp {
		position: absolute;
		width: 398px;
		height: 150px;
		left: 1382px;
		top: 1920px;
		overflow: visible;
	}
	#Rectangle_261_dq {
		fill: rgba(255,255,255,1);
		stroke: rgba(254,129,21,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_261_dq {
		position: absolute;
		overflow: visible;
		width: 398px;
		height: 150px;
		left: 0px;
		top: 0px;
	}
	#Group_270_dr {
		position: absolute;
		width: 398px;
		height: 150px;
		left: 1382px;
		top: 2092px;
		overflow: visible;
	}
	#Rectangle_261_ds {
		fill: rgba(255,255,255,1);
		stroke: rgba(254,129,21,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_261_ds {
		position: absolute;
		overflow: visible;
		width: 398px;
		height: 150px;
		left: 0px;
		top: 0px;
	}
	#Martin_Garrix {
		left: 1561px;
		top: 1638px;
		position: absolute;
		overflow: visible;
		width: 182px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Mask_Group_6 {
		position: absolute;
		width: 138px;
		height: 138px;
		left: 1391px;
		top: 1752px;
		overflow: visible;
	}
	#Hardwell {
		left: 1561px;
		top: 1804px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Mask_Group_2 {
		position: absolute;
		width: 138px;
		height: 138px;
		left: 1391px;
		top: 1926px;
		overflow: visible;
	}
	#Armin_van_Buuren {
		left: 1533px;
		top: 1979px;
		position: absolute;
		overflow: visible;
		width: 238px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Mask_Group_3 {
		position: absolute;
		width: 138px;
		height: 138px;
		left: 1391px;
		top: 2098px;
		overflow: visible;
	}
	#Tiesto {
		left: 1560px;
		top: 2150px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Spotlight {
		left: 1382px;
		top: 1501px;
		position: absolute;
		overflow: visible;
		width: 231px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Rectangle_267 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_267 {
		position: absolute;
		overflow: visible;
		width: 2061px;
		height: 1007px;
		left: -103px;
		top: 2276px;
	}
	#Group_131 {
		position: absolute;
		width: 1640px;
		height: 665px;
		left: 140px;
		top: 2448px;
		overflow: visible;
	}
	#Dance_Schedule {
		position: absolute;
		width: 1640px;
		height: 638px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Friday-27th_July {
		left: 216px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 241px;
		white-space: nowrap;
		text-align: right;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Saturday-28th__July {
		left: 705px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 292px;
		white-space: nowrap;
		text-align: right;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Sunday-29th_July {
		left: 1235px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 261px;
		white-space: nowrap;
		text-align: right;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Path_31 {
		fill: rgba(254,129,21,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_31 {
		overflow: visible;
		position: absolute;
		width: 1468px;
		height: 97px;
		left: 172px;
		top: 56px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_31_d {
		fill: rgba(254,129,21,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_31_d {
		overflow: visible;
		position: absolute;
		width: 1468px;
		height: 97px;
		left: 172px;
		top: 153px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_31_ea {
		fill: rgba(254,129,21,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_31_ea {
		overflow: visible;
		position: absolute;
		width: 1468px;
		height: 97px;
		left: 172px;
		top: 250px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_31_eb {
		fill: rgba(254,129,21,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_31_eb {
		overflow: visible;
		position: absolute;
		width: 1468px;
		height: 97px;
		left: 172px;
		top: 347px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_31_ec {
		fill: rgba(254,129,21,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_31_ec {
		overflow: visible;
		position: absolute;
		width: 1468px;
		height: 97px;
		left: 172px;
		top: 444px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_31_ed {
		fill: rgba(254,129,21,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_31_ed {
		overflow: visible;
		position: absolute;
		width: 1468px;
		height: 97px;
		left: 172px;
		top: 541px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_118 {
		position: absolute;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 56px;
		overflow: visible;
	}
	#Rectangle_53 {
		fill: rgba(64,64,64,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_53 {
		position: absolute;
		overflow: visible;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#LichtFabriek {
		left: 9px;
		top: 34px;
		position: absolute;
		overflow: visible;
		width: 155px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#Group_118_eg {
		position: absolute;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 153px;
		overflow: visible;
	}
	#Rectangle_53_eh {
		fill: rgba(64,64,64,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_53_eh {
		position: absolute;
		overflow: visible;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Jopen_Kerk {
		left: 16px;
		top: 34px;
		position: absolute;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#Group_118_ej {
		position: absolute;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 250px;
		overflow: visible;
	}
	#Rectangle_53_ek {
		fill: rgba(64,64,64,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_53_ek {
		position: absolute;
		overflow: visible;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#XO_The_Club {
		left: 41px;
		top: 19px;
		position: absolute;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#Group_118_em {
		position: absolute;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 347px;
		overflow: visible;
	}
	#Rectangle_53_en {
		fill: rgba(64,64,64,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_53_en {
		position: absolute;
		overflow: visible;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Club_Ruis {
		left: 27px;
		top: 34px;
		position: absolute;
		overflow: visible;
		width: 119px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#Group_118_ep {
		position: absolute;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 444px;
		overflow: visible;
	}
	#Rectangle_53_eq {
		fill: rgba(64,64,64,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_53_eq {
		position: absolute;
		overflow: visible;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Capera__Openlucht_theater {
		left: 19px;
		top: 4px;
		position: absolute;
		overflow: visible;
		width: 135px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#Group_118_es {
		position: absolute;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 541px;
		overflow: visible;
	}
	#Rectangle_53_et {
		fill: rgba(64,64,64,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_53_et {
		position: absolute;
		overflow: visible;
		width: 172px;
		height: 97px;
		left: 0px;
		top: 0px;
	}
	#Club-Stalker {
		left: 9px;
		top: 34px;
		position: absolute;
		overflow: visible;
		width: 155px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(245,245,245,1);
		letter-spacing: -0.05px;
	}
	#Path_30 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 15;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_30 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 1px;
		left: 1231.5px;
		top: 249.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_75 {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 1201px;
		top: 154px;
		overflow: visible;
	}
	#Rectangle_50 {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50 {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#Armin_van_Buuren_ey {
		left: 51px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 239px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID1900_to_2030 {
		left: 87px;
		top: 47px;
		position: absolute;
		overflow: visible;
		width: 167px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_76 {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 1201px;
		top: 57px;
		overflow: visible;
	}
	#Rectangle_46 {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46 {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#No_EventS {
		left: 95px;
		top: 33px;
		position: absolute;
		overflow: visible;
		width: 151px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
		text-transform: uppercase;
	}
	#Group_80 {
		position: absolute;
		width: 340px;
		height: 192px;
		left: 687px;
		top: 57px;
		overflow: visible;
	}
	#Group_73 {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 97px;
		overflow: visible;
	}
	#Rectangle_50_e {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_e {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#Afrojack {
		left: 114px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 113px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID2200_to_2330_hrs {
		left: 63px;
		top: 47px;
		position: absolute;
		overflow: visible;
		width: 215px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_74 {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_46_e {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46_e {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#ID2100_to_0100_hrs {
		left: 67px;
		top: 51px;
		position: absolute;
		overflow: visible;
		width: 207px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Tiesto_fb {
		left: 131px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_71 {
		position: absolute;
		width: 337px;
		height: 95px;
		left: 174px;
		top: 154px;
		overflow: visible;
	}
	#Rectangle_50_fd {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_fd {
		position: absolute;
		overflow: visible;
		width: 337px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#Hardwell_fe {
		left: 110px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID2300_to_0030_hrs {
		left: 60px;
		top: 47px;
		position: absolute;
		overflow: visible;
		width: 219px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_72 {
		position: absolute;
		width: 337px;
		height: 96px;
		left: 174px;
		top: 57px;
		overflow: visible;
	}
	#Rectangle_46_fh {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46_fh {
		position: absolute;
		overflow: visible;
		width: 337px;
		height: 96px;
		left: 0px;
		top: 0px;
	}
	#ID2000_to_0200_hrs {
		left: 58px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Nicky_RomeroAfrojack {
		left: 17px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 303px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Line_11 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 15;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		width: 5px;
		height: 192px;
		left: 1231.5px;
		top: 297.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_75_fl {
		position: absolute;
		width: 340px;
		height: 96px;
		left: 1201px;
		top: 347px;
		overflow: visible;
	}
	#Rectangle_50_fm {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_fm {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 96px;
		left: 0px;
		top: 0px;
	}
	#No_Events {
		left: 94px;
		top: 33px;
		position: absolute;
		overflow: visible;
		width: 151px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
		text-transform: uppercase;
	}
	#Group_84 {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 1201px;
		top: 445px;
		overflow: visible;
	}
	#Rectangle_50_fp {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_fp {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#AfrojackTiesto_Nicky_Romero {
		left: 70px;
		top: 6px;
		position: absolute;
		overflow: visible;
		width: 201px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID1400_to_2300_hrs {
		left: 64px;
		top: 65px;
		position: absolute;
		overflow: visible;
		width: 213px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_84_fs {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 1201px;
		top: 542px;
		overflow: visible;
	}
	#Rectangle_50_ft {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_ft {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#Martin_Garrix_ {
		left: 81px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 179px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID1800_to_1930_hrs {
		left: 67px;
		top: 51px;
		position: absolute;
		overflow: visible;
		width: 207px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_76_fw {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 1201px;
		top: 251px;
		overflow: visible;
	}
	#Rectangle_46_fx {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46_fx {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#Hardwell_ {
		left: 108px;
		top: 12px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID2100_to_2230_hrs {
		left: 66px;
		top: 52px;
		position: absolute;
		overflow: visible;
		width: 209px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_73_f {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 687px;
		top: 348px;
		overflow: visible;
	}
	#Rectangle_50_f {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_f {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#No_Events_f {
		left: 95px;
		top: 33px;
		position: absolute;
		overflow: visible;
		width: 151px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
		text-transform: uppercase;
	}
	#Group_85 {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 687px;
		top: 445px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Haarlem_Festival___Artist_Popup___1.html;
		cursor: pointer;
	}
	#Rectangle_50_ga {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_ga {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#HardwellMartin_Garrix_Armin_va {
		left: 23px;
		top: 5px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID1400_to_2300_hrs_f {
		left: 64px;
		top: 65px;
		position: absolute;
		overflow: visible;
		width: 213px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_85_f {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 687px;
		top: 542px;
		overflow: visible;
	}
	#Rectangle_50_gb {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_gb {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#Nicky_Romero {
		left: 79px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 183px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID2300_to_0030_hrs_ga {
		left: 61px;
		top: 47px;
		position: absolute;
		overflow: visible;
		width: 219px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_74_gb {
		position: absolute;
		width: 340px;
		height: 95px;
		left: 687px;
		top: 251px;
		overflow: visible;
	}
	#Rectangle_46_gc {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46_gc {
		position: absolute;
		overflow: visible;
		width: 340px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#No_Events_gd {
		left: 95px;
		top: 33px;
		position: absolute;
		overflow: visible;
		width: 151px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
		text-transform: uppercase;
	}
	#Group_71_ge {
		position: absolute;
		width: 336px;
		height: 95px;
		left: 174px;
		top: 348px;
		overflow: visible;
	}
	#Rectangle_50_gf {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_50_gf {
		position: absolute;
		overflow: visible;
		width: 336px;
		height: 95px;
		left: 0px;
		top: 0px;
	}
	#Martin_Garrix_gg {
		left: 83px;
		top: 7px;
		position: absolute;
		overflow: visible;
		width: 171px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#ID2200_to_2330_hrs_gh {
		left: 61px;
		top: 47px;
		position: absolute;
		overflow: visible;
		width: 215px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Group_72_gi {
		position: absolute;
		width: 336px;
		height: 96px;
		left: 174px;
		top: 251px;
		overflow: visible;
	}
	#Rectangle_46_gj {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46_gj {
		position: absolute;
		overflow: visible;
		width: 336px;
		height: 96px;
		left: 0px;
		top: 0px;
	}
	#ID2200_to_2330_hrs_gk {
		left: 61px;
		top: 53px;
		position: absolute;
		overflow: visible;
		width: 215px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Armin_van_Buuren_gl {
		left: 49px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 239px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(1,1,1,1);
		letter-spacing: -0.05px;
	}
	#Venue_ {
		left: 34px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 105px;
		white-space: nowrap;
		text-align: right;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 29px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Group_113 {
		position: absolute;
		width: 336px;
		height: 96px;
		left: 174px;
		top: 541px;
		overflow: visible;
	}
	#Rectangle_46_go {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46_go {
		position: absolute;
		overflow: visible;
		width: 336px;
		height: 96px;
		left: 0px;
		top: 0px;
	}
	#Tiesto_gp {
		left: 127px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.05px;
	}
	#ID2200_to_2330_hrs_gq {
		left: 57px;
		top: 46px;
		position: absolute;
		overflow: visible;
		width: 223px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.05px;
	}
	#Group_113_gr {
		position: absolute;
		width: 336px;
		height: 96px;
		left: 174px;
		top: 444px;
		overflow: visible;
	}
	#Rectangle_46_gs {
		fill: rgba(255,207,8,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_46_gs {
		position: absolute;
		overflow: visible;
		width: 336px;
		height: 96px;
		left: 0px;
		top: 0px;
	}
	#No_Events_gt {
		left: 90px;
		top: 32px;
		position: absolute;
		overflow: visible;
		width: 157px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		color: rgba(0,0,0,1);
		letter-spacing: -0.05px;
		text-transform: uppercase;
	}
	#Group_88 {
		position: absolute;
		width: 177px;
		height: 581.5px;
		left: 509.5px;
		top: 56.5px;
		overflow: visible;
	}
	#Line_9 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 15;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		width: 6px;
		height: 581.508px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_40 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 15;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_40 {
		overflow: visible;
		position: absolute;
		width: 6px;
		height: 581.508px;
		left: 176px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_9_gx {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 15;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9_gx {
		overflow: visible;
		position: absolute;
		width: 6px;
		height: 581.508px;
		left: 1026.5px;
		top: 56.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_61 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 15;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_61 {
		overflow: visible;
		position: absolute;
		width: 6px;
		height: 581.508px;
		left: 1539.5px;
		top: 56.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_40_gz {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-dasharray: 15;
		stroke-dashoffset: 0;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_40_gz {
		overflow: visible;
		position: absolute;
		width: 6px;
		height: 581.508px;
		left: 1201.398px;
		top: 56.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Click_on_the_event_you_want_to {
		left: 0px;
		top: 638px;
		position: absolute;
		overflow: visible;
		width: 329px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#vip_all_access {
		position: absolute;
		width: 280px;
		height: 134px;
		left: 1441px;
		top: 1335px;
		overflow: visible;
	}
	#Nav_Bar {
		position: absolute;
		width: 1920px;
		height: 137px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#nav_bar_bg {
		fill: rgba(255,255,255,1);
	}
	.nav_bar_bg {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 137px;
		left: 0px;
		top: 0px;
	}
	#TT {
		position: absolute;
		width: 1039px;
		height: 30px;
		left: 317px;
		top: 54px;
		overflow: visible;
	}
	#Dance_Nav {
		position: absolute;
		width: 196px;
		height: 30px;
		left: 843px;
		top: 0px;
		overflow: visible;
	}
	#Haarlem_Dance_g {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 197px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(192,104,50,1);
		letter-spacing: -0.05px;
	}
	#History_Nav {
		position: absolute;
		width: 204px;
		height: 30px;
		left: 508px;
		top: 0px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Haarlem_Festival___new_history___1.html;
		cursor: pointer;
	}
	#Haarlem_History {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 205px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(192,104,50,1);
		letter-spacing: -0.05px;
		text-transform: uppercase;
	}
	#Jazz_Nav {
		position: absolute;
		width: 168px;
		height: 30px;
		left: 209px;
		top: 0px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Haarlem_Festival___Jazz_Home.html;
		cursor: pointer;
	}
	#Haarlem_Jazz {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 169px;
		white-space: nowrap;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Haarlem_Festival___Jazz_Home.html;
		cursor: pointer;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(192,104,50,1);
		letter-spacing: -0.05px;
	}
	#Home_Nav {
		position: absolute;
		width: 78px;
		height: 30px;
		left: 0px;
		top: 0px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Haarlem_festival___new__homescreen___1.html;
		cursor: pointer;
	}
	#Home {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(191,104,50,1);
		letter-spacing: -0.05px;
	}
	#Login_Button {
		position: absolute;
		width: 242px;
		height: 63px;
		left: 1491px;
		top: 38px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Haarlem_Festival___Login.html;
		cursor: pointer;
	}
	#Rectangle_13_he {
		fill: rgba(255,255,255,1);
		stroke: rgba(192,104,50,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_13_he {
		position: absolute;
		overflow: visible;
		width: 242px;
		height: 63px;
		left: 0px;
		top: 0px;
	}
	#LoginRegister {
		left: 28px;
		top: 16px;
		position: absolute;
		overflow: visible;
		width: 186px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(192,104,50,1);
		letter-spacing: -0.05px;
	}
	#Logo {
		position: absolute;
		width: 273px;
		height: 98.83px;
		left: 4px;
		top: 16px;
		overflow: visible;
	}
	#Background {
		position: absolute;
		width: 273px;
		height: 97px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#el {
		position: absolute;
		width: 139.075px;
		height: 72.618px;
		left: 105.443px;
		top: 3.513px;
		overflow: visible;
	}
	#Line_1 {
		fill: rgba(254,90,29,1);
		stroke: rgba(254,90,29,1);
		stroke-width: 5px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 144.02px;
		height: 5.207px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_2 {
		fill: rgba(254,90,29,1);
		stroke: rgba(254,90,29,1);
		stroke-width: 5px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		width: 5.057px;
		height: 77.618px;
		left: 139.018px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_3 {
		fill: rgba(254,90,29,1);
		stroke: rgba(254,90,29,1);
		stroke-width: 5px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 53.809px;
		height: 5px;
		left: 90.209px;
		top: 72.618px;
		transform: matrix(1,0,0,1,0,0);
	}
	#TT_hm {
		position: absolute;
		width: 170px;
		height: 88.636px;
		left: 33.779px;
		top: 10.193px;
		overflow: visible;
	}
	#HAARLEM {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 171px;
		white-space: nowrap;
		line-height: 59px;
		margin-top: -10.5px;
		text-align: left;
		font-family: HelveticaNeue-LightCond;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(255,139,0,1);
	}
	#festival {
		left: 41.627px;
		top: 37.637px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		line-height: 59px;
		margin-top: -10.5px;
		text-align: left;
		font-family: HelveticaNeue-LightCond;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(255,139,0,1);
	}
	#Cart_Empty {
		position: absolute;
		width: 55px;
		height: 52px;
		left: 1812px;
		top: 43px;
		overflow: visible;
	}
	#Rectangle_165 {
		fill: rgba(255,255,255,1);
		stroke: rgba(192,104,50,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_165 {
		display: none;
		position: absolute;
		overflow: visible;
		width: 374px;
		height: 210px;
		left: -299px;
		top: -17px;
	}
	#Layer_0 {
		position: absolute;
		width: 55px;
		height: 52px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Cart {
		display: none;
		left: -278px;
		top: -4px;
		position: absolute;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
	#Your_cart_is_empty {
		display: none;
		left: -268px;
		top: 126px;
		position: absolute;
		overflow: visible;
		width: 325px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		color: rgba(64,64,64,1);
		letter-spacing: -0.05px;
	}
